/*css for scrolling menu*/
nav {
  background: #333;
  overflow: auto;
  padding-left: 40px;
  padding-right:40px;
  padding-top:30px;
  padding-bottom:0px;

  position: relative;
  z-index: 2;
}

nav h1 {
  color: #eee;
    font-family: 'Fjalla One';
  font-size: 43px;
  float: left;
}

nav h1>a {
  color: yellow;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms linear;
}

nav h1>a:hover {
  background: none;
  color: #C18055;
}

nav ul {
  text-align: center;
  float: right;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #eee;
  font-family: 'Fajalla One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  transition: all 200ms linear;
}

nav a:hover,
nav#small a:hover {
  color: #C18055;
  background: #fff;
}

nav#small {
  background: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top:20px;
  padding-bottom: 0px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 2px #fff;
}

nav#small h1,
nav#small a {
  color: #333;
}

nav#small h1 {
  font-size: 43px;
}

nav#small h1>a {
  color: rgb(51, 51, 51);
}

nav#small h1>a:hover {
  color: #3ab4a6;
}

div#content {
  height: 2200px;
  opacity: 0.9;
}

@media (max-width: 700px) {
  nav {
    padding: 20px;
  }

  nav h1 {
    display: block;
    float: none;
    text-align: center;
    padding: 20px;
  }

  nav ul {
    float: none;
    padding: 20px;
  }

  div#content h2 {
    width: 30%;
  }

  nav#small {
    padding: 20px;
  }

  nav#small ul {
    padding: 5px;
  }

  nav#small h1 {
    padding: 10px;
    font-size: 28px;
    margin-bottom: 5px;
  }

  nav#small a {
    font-weight: normal;
  }
}
